/*Formatação cabeçalho*/
body {
	overflow-x: hidden;
}

tachado {
	text-decoration: line-through;
}


header {
	background-color: #171a21;
}

header nav a:hover {
	color: #FFFF00;
	text-decoration: none;
}

.letras-top {
	font-size: 20px;
	letter-spacing: 0.5px
}

span.titulo {
	text-decoration: none;
	font-size: 25px;
	color: #00EE76;
	font-family: verdana;
}


.centered {
	margin: 0 auto !important;
	float: none !important;
}


/*Formatação Carousel e Mini Banner*/
.navbar-toggler {
	border-color: #fff;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	width: 35px;
	height: 35px;
	opacity: 1;
	filter: invert(-1);
	color: #fff;
}

.mini-banner {
	margin-left: -50px;
}


/*Formatação Rodapé*/
footer ul {
	list-style: none;
}

footer {
	background: #000;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	padding-right: 45px;
}

footer a:link {
	color: #fff;
	font-size: 0.8em;
	text-decoration: none;
}

footer a:hover {
	color: red;
}

footer ul li {
	float: left;
	margin: 0 5px;
}

/*Formatações Gerais*/
a:link,
a:visited {
	color: #fff;

}

.centro {
	text-align: center;
	text-transform: bold;
}

.margins {
	padding-top: 10px;
}

hr {
	height: 5px;
}

a.nav-link.ml-2 {
	border-width: 0;
}


/*MEDIA QUERIES*/
@media (max-width: 575.98px) {
	footer h4 {
		margin-top: 10px;
		font-size: 1.5em
	}

	footer ul li {
		float: left;
		margin-left: 60px;
		font-size: 1.3em;
	}


}

/*@media (min-width: 576px) and (max-width: 767.98px) { 
	.img-pequenas{
		width: 200px;
		height: 200px;
		float: left;
	}
	.margins{
		margin-bottom: 15px;
		color: #000;
		font-family: verdana;
	}
	.centro{
		margin-top: 50px;
	}
	
	
	footer h4{
	color: #919496;
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: center;
	padding-right: 45px;
	margin-top: 10px;
	}
	footer ul li{
	text-align: center;
	float: left;
	font-size: 0.8em;
	}

	
}


@media (min-width: 768px) and (max-width: 991.98px) { 
	.azulao{
		font-size: 15px;
	}
	.mt-2, .my-2{
		margin-top: .1rem !important;
	}
	.preco{
		margin-top: 4.5rem !important;
	}
	.preco2{
		margin-top: 3rem !important;
	}

	footer h4{
	color: #919496;
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: center;
	padding-right: 5px;
	margin-top: 10px;
	}
	footer ul li{
	float: left;
	font-size: 1em;
	}
	
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
	.preco2{
		margin-top: 3rem !important;
	}
	.preco3{
		margin-top: 4.2rem !important;
	}
}


@media (min-width: 1200px) { ... }*/